{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" media="all" href='{% static "/quest/style.css" %}' type="text/css">
	<meta charset="UTF-8">

	<header >
		<a href="/add/"><button class="button" type="button"> Home</button> </a>
	</header>
</head>
<body>
<div id="col1" align="center">
    <a href="/questions/"> <button class="b1" type="button">START</button></a>
</div>

</body>
<footer></footer>
</html>