<!DOCTYPE html>
<html >
<head>
 <meta charset="utf-8">
 <title>JSON</title>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>

</head>
<body ng-app='questAdd' >
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  <div ng-controller='adD' ng-model = 'exmpl.id' align="center" padding-top='40%'>

  {% include 'add/add.html'%}
        <!----------------------------------------------------------------
    <div ng-repeat = 'i in quests'>
        <h1 ng-bind = 'i.question'></h1> 
        <input name="q1" value='11' type="checkbox"><span ng-bind = 'i.variant1'></span> <br><br>
        <input name="q1" value="21" type="checkbox"><span ng-bind = 'i.variant2'></span> <br><br>
        <input name="q2" value="31" type="checkbox"><span ng-bind = 'i.variant3'></span> <br><br>
    </div>
    
  </div>
 ------------------------------------------------------------------------------>
<script type="text/javascript">
  var questAdd = angular.module('questAdd', []);
  questAdd.controller('adD', function ($scope, $http){
    $http.get('http://127.0.0.1:8000/example/?format=json').success(function(data) {
      $scope.quests = angular.fromJson(data);
      $scope.que1 = $scope.quests[0]
      $scope.que2 = $scope.quests[1]
      $scope.que3 = $scope.quests[2]

      console.log($scope.quests)
      console.log($scope.que1);
    });    
  });
 </script>

</body>
</html>