{% extends "questions/questions.html" %}

{% block content %}


<h3> {{ question.title}}</h3>
 {{ question.body | safe| linebreaks }}


<a href=''> Finish</a>
<a href='/questions/{{ question.id|add:"1" }}'> Next Page</a>

{% endblock %}


