{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>

	<style>
			#form {
				margin-top: 200px;

			}
	</style>
    <link rel="stylesheet" media="all" href='{% static "/questions/style.css" %}' type="text/css">
	<meta charset="UTF-8">

	<header >
        <a href="/"><button class="button" type="button"> Home</button></a>
	</header>
</head>
<body>
<div id="form" align =" center">
{% block content %}
        {% for question in object_list %}
            <h3><a href="/questions/{{question.id}}">{{ question.title }}</a></h3>
        {% endfor %}
{% endblock %}
</div>

</body>
<footer></footer>
</html>