header {
      	position: fixed;
    	top: 0;
    	left: 0;
    	right: 0;
       background-color: #363636;
       height: 100px;
       width: 100%
      }
		footer {
    	position: fixed;
    	left: 0; bottom: 0;
    	padding: 10px;
    	background: #363636;
    	color: #fff;
    	width: 100%;
    	height: 65px;
   		}
   	.button {
   		border:none;
			background-color: #363636;
			color: white;
			font-size: 20px;
      		position: fixed;
      		right:400px;
      		top: 30px;
      	}
		.button:hover{
    		color: green;
		}

		.b1 {
			font-size: 20px;
			height: 60px;
			width: 120px;
			border: none;
				color: black;
				background-color: red;
			}

		 .b1:hover{
		 		color: black;
		 		background-color: green ;
		 }

#col1{
      	margin-right: 50%;
      	margin-left: 40%;
      	margin-top: 20%;
		float:left;
		width: 20%;}